@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* core */

body {
  font-family: "Varela Round", sans-serif;
}

:root {
  --gray: #3e4152;
  --bg-code: #fafafa;
  --card-color: #001219;
}

h1 {
  text-align: center;
  margin: 3rem auto;
}

/* user actions */

#user-actions {
  margin: auto;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 18px 18px 39px #f0f0f0, -18px -18px 39px #ffffff;
  width: 50%;
  padding: 3rem 2rem;
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px solid;
  padding: 1rem;
  width: 130px;
  background: #ffffff;
  transition: 0.3s;
  margin: 1rem 0;
}

#generate {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#generate:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#generate:active {
  transform: translateY(-1px);
}

/* playground */

/* floors */

.floor {
  border-bottom: 2px solid #000;
  padding: 1rem;
}

.floor-inside {
  display: flex;
  justify-content: space-between;
}

.floor-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.floor-action-btn {
  border: none;
  height: 30px;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 4px 4px 8px #ededed, -4px -4px 8px #ffffff;
}

#floor-1 {
  position: relative;
}

/* lifts */

.multiple-lifts {
  display: flex;
  position: absolute;
  top: 0rem;
  left: 7rem;
}

.lift {
  border: 1px solid #000;
  display: flex;
  width: 6.5rem;
  height: 6.5rem;
  margin: 0 1.2rem;
}

.left-door {
  background: #23c483;
  width: 6rem;
  margin: 0.2rem;
}

.right-door {
  background: #23c483;
  width: 6rem;
  margin: 0.2rem;
}
